/* .App {
  text-align: center;
  margin-top: 50px;
}

.counter-container {
  display: flex;
  justify-content: space-between;
}

.counter {
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  width: 200px;
  text-align: left;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
} */
